.hero-section {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    height: 90vh; /* Full viewport height */
    text-align: left;
    width: 100%;
    display: flex;
  }
  
  .hero-content {
    width: 40%;
    padding: 5% 0% 0% 5%;
  }
  .tilded-container{
    width: 60%;
   overflow: hidden;
  }
  
  .hero-content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .hero-buttons {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
  }
  
  .hero-btn {
    padding: 0.8rem 2rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .explore-btn {
    background-color: #fff;
    color: #000;
    border: none;
  }
  
  .learn-more-btn-1 {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
  }
  
  .hero-btn:hover {
    opacity: 0.8;
  }
  
  .learn-section {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff; /* White background */
    padding: 5rem 10%; /* Adjust padding to your liking */
  }
  
  .learn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .learn-text {
    width: 60%; /* Text on the left */
  }
  
  .learn-text h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .learn-text p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    color: #000000; /* Dark text for readability */
  }
  
  .learn-text p strong{
    font-size: 1.1rem;
    margin-bottom: 2rem;
    color: #ff0000; /* Dark text for readability */
  }
  
  .learn-buttons {
    display: flex;
    gap: 1rem;
  }

  .learn-image  {
   height: 300px;
   width: 300px;
  }
  
  .learn-buttons .learn-btn {
    padding: 0.8rem 2rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid;
  }
  
  .learn-more-btn-2 {
    background-color: rgb(255, 255, 255);
    color: #000;
  }
  
  .enroll-btn {
    background-color: #000;
    color: #fff;
  }
  
  .learn-btn:hover {
    opacity: 0.8;
  }
  